<html>
<head>
  <title>Survey App</title>
  <% newfield = ""%>
  <script type="text/javascript">
    var i = 0;
    var newField = "";
    var newFieldTemplate = "<textarea id='field-4' name='fields[" + i.toString() + "]' placeholder='Field Name'></textarea><br><br>";
    function addField()
    {
      i++;
      newFieldTemplate = "<textarea id='field-4' name='fields[" + i.toString() + "]' placeholder='Field Name'></textarea><br><br>";
      newField = String.prototype.concat( document.getElementById("fields").innerHTML, newFieldTemplate);
      document.getElementById("fields").innerHTML = newField;
    }
    function removeField()
    {
      if(i >= 0)
      {
        newFieldTemplate = "<textarea id='field-4' name='fields[" + i.toString() + "]' placeholder='Field Name'></textarea><br><br>";
        i--;
        newField = document.getElementById("fields").innerHTML.substring(0,newFieldTemplate.length*i);
        document.getElementById("fields").innerHTML = newField;
    
      }
    }
</script>
</head>
<body>
<article id="index-page">
  <h2>New Form</h2>
    <br>
    <div id="form-container"></div>
    <form id="message-form" method="POST" action="/forms/create/">
      <label for="title">Form Title</label>
      <br>
      <textarea id="title" name="form_title" placeholder="Form Title"></textarea>
      <br><hr><br>
      <div id="fields"></div>
      <button type="button" onclick="addField();">Add Field</button>
      <button type="button" onclick="removeField();">Remove Field</button>
      <br>
      <button type="submit">Create Form</button>
      </form>
    </ul>
</article>
</body>
</html>